<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jasmine.wx.mapper.PersonInfoEntityMapper">
	<resultMap id="BaseResultMap" type="com.jasmine.wx.entity.PersonInfoEntity">
		<id column="person_person_id" property="personId" jdbcType="BIGINT"/>
		<result column="person_person_name" property="personName" jdbcType="VARCHAR"/>
		<result column="person_city" property="city" jdbcType="VARCHAR"/>
		<result column="person_county" property="county" jdbcType="VARCHAR"/>
		<result column="person_school" property="school" jdbcType="VARCHAR"/>
		<result column="person_wschool" property="wschool" jdbcType="VARCHAR"/>
		<result column="person_person_class" property="personClass" jdbcType="VARCHAR"/>
		<result column="person_phone" property="phone" jdbcType="VARCHAR"/>
		<result column="person_state" property="state" jdbcType="VARCHAR"/>
		<result column="person_create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="person_update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<sql id="Base_Column_List">
    person.person_id as person_person_id, person.person_name as person_person_name, person.city as person_city,
    person.county as person_county, person.school as person_school, person.wschool as person_wschool,person.person_class as person_person_class,
    person.phone as person_phone, person.state as person_state, person.create_time as person_create_time,
    person.update_time as person_update_time,article.article_id as articleId
  </sql>
	<select id="selectByPrimaryKey" resultType="com.jasmine.wx.entity.PersonInfoEntity" parameterType="map">
		SELECT
		person.person_id AS personId,
		person.person_name AS personName,
		person.city AS personCity,
		person.county AS personCounty,
		person.school AS personSchool,
		person.wschool AS personWschool,
		person.person_class AS personClass,
		person.phone AS phone,
		person.state AS personState,
		person.create_time AS createTime,
		person.update_time AS updateTime,
		article.article_id AS articleId
		FROM
		person_info AS person
		LEFT JOIN article_file AS article ON person.person_id = article.person_id
		WHERE
		person.state = 1
		<if test="personName!= null and personName!=''">
			<if test="phone != null and phone!=''">
				AND person.person_name = #{personName,jdbcType=VARCHAR}
				AND person.phone = #{phone,jdbcType=VARCHAR}
			</if>
			<if test="articleType != null and articleType!=''">
				AND article.article_type = #{articleType,jdbcType=VARCHAR}
			</if>
		</if>
		<if test="personId != null and personId !=''">
			AND person.person_id = #{personId,jdbcType=BIGINT}
		</if>
		<!-- <if test="personName != null and personName!=''" >
		 AND person.person_name = #{personName,jdbcType=VARCHAR}
		</if>
	   <if test="phone != null and phone!=''" >
		 AND person.phone = #{phone,jdbcType=VARCHAR}
		</if>
		 <if test="articleType != null and articleType!=''" >
		  AND article.article_type = #{articleType,jdbcType=VARCHAR}
		</if> -->
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from person_info
    where person_id = #{personId,jdbcType=BIGINT}
  </delete>
	<insert id="insert" parameterType="com.jasmine.wx.entity.PersonInfoEntity">
    insert into person_info (person_id, person_name, city,
      county, school,wschool, person_class,
      phone, state, create_time,
      update_time)
    values (#{personId,jdbcType=BIGINT}, #{personName,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR},#{wschool,jdbcType=VARCHAR}, #{personClass,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
	<insert id="insertSelective" parameterType="com.jasmine.wx.entity.PersonInfoEntity" useGeneratedKeys="true"
	        keyProperty="personId">
		insert into person_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="personId != null">
				person_id,
			</if>
			<if test="personName != null">
				person_name,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="county != null">
				county,
			</if>
			<if test="school != null">
				school,
			</if>
			<if test="wschool != null">
				wschool,
			</if>
			<if test="personClass != null">
				person_class,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="personId != null">
				#{personId,jdbcType=BIGINT},
			</if>
			<if test="personName != null">
				#{personName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				#{county,jdbcType=VARCHAR},
			</if>
			<if test="school != null">
				#{school,jdbcType=VARCHAR},
			</if>
			<if test="wschool != null">
				#{wschool,jdbcType=VARCHAR},
			</if>
			<if test="personClass != null">
				#{personClass,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.jasmine.wx.entity.PersonInfoEntity">
		update person_info
		<set>
			<if test="personName != null">
				person_name = #{personName,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="county != null">
				county = #{county,jdbcType=VARCHAR},
			</if>
			<if test="school != null">
				school = #{school,jdbcType=VARCHAR},
			</if>
			<if test="wschool != null">
				wschool = #{wschool,jdbcType=VARCHAR},
			</if>
			<if test="personClass != null">
				person_class = #{personClass,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where person_id = #{personId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jasmine.wx.entity.PersonInfoEntity">
    update person_info
    set person_name = #{personName,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      wschool = #{wschool,jdbcType=VARCHAR},
      person_class = #{personClass,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where person_id = #{personId,jdbcType=BIGINT}
  </update>
	<select id="getPlace" resultType="com.jasmine.wx.entity.PersonInfoEntity" parameterType="map">
		SELECT
		a.id AS cityId,
		a. NAME AS cityName,
		ao.id AS parentId,
		ao. NAME AS parentName
		FROM
		area_tb AS a
		LEFT JOIN area_tb AS ao ON a.pid = ao.id
		<where>
			<if test="cityId!= null and cityId !=''">
				AND a.pid = #{cityId,jdbcType=VARCHAR}
			</if>
			<if test="areaId != null and areaId !=''">
				AND a.id = #{areaId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="getSchool" resultType="com.jasmine.wx.entity.PersonInfoEntity" parameterType="map">
		SELECT
		s.school_id AS schoolId,
		s.school_name AS schoolName,
		a.id AS countyId,
		a. NAME AS countyName,
		ao.id AS cityId,
		ao. NAME AS cityName
		FROM
		school AS s
		LEFT JOIN area_tb AS a ON s.county_id = a.id
		LEFT JOIN area_tb AS ao ON a.pid = ao.id
		<where>
			<if test="cityId!= null and cityId !=''">
				AND a.pid = #{cityId,jdbcType=VARCHAR}
			</if>
			<if test="areaId != null and areaId !=''">
				AND a.id = #{areaId,jdbcType=VARCHAR}
			</if>
			<if test="countyId != null and countyId !=''">
				AND s.county_id  = #{countyId,jdbcType=VARCHAR}
			</if>
			<if test="schoolId != null and schoolId !=''">
				AND s.school_id  = #{schoolId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>